<div id="{{pTransaction.id}}" class="transaction">
  <div class="amount {{ pTransaction.amount > 0 ? 'credit' : 'debit' }}">{{ pTransaction.amount }} €</div>
  <div class="extended_info">
    <div class="store {{pTransaction.store == undefined ? 'missing' : ''}}">{{ pTransaction.store == undefined ? "(no store)" : pTransaction.store.name }}</div>
    <div class="date {{pTransaction.date == undefined ? 'missing' : ''}}">{{ pTransaction.date == undefined ? "(no date)" : pTransaction.date| date: "yyyy/MM/dd" }}</div>
    <div class="budget {{pTransaction.budget == undefined ? 'missing' : ''}}">{{ pTransaction.budget == undefined ? "(no budget)" : pTransaction.budget.name }}</div>
    <div class="categories">{{ categoriesText }}</div>
  </div>

  <div class="clearfix"></div>

  <div class="source">{{ pTransaction.bank.name }}</div>
  <div class="accounting_date">{{ pTransaction.accountingDate| date: "yyyy/MM/dd" }}</div>
  <div class="description">{{ pTransaction.description }}</div>

</div>
