<div id="{{pTransaction.id}}" class="transaction">
  <div class="amount {{ pTransaction.amount > 0 ? 'credit' : 'debit' }}">{{ pTransaction.amount }} €</div>

  <div class="info">
    <div class="extended_info" *ngIf="!edition; else forminfo" novalidate (click)="switchEditionMode(true)">
      <div class="store {{pTransaction.store == undefined ? 'missing' : ''}}">{{ pTransaction.store == undefined ? "(no store)" : pTransaction.store.name }}</div>
      <div class="date {{pTransaction.date == undefined ? 'missing' : ''}}">{{ pTransaction.date == undefined ? "(no date)" : pTransaction.date| date: "yyyy/MM/dd" }}</div>
      <div class="period {{pTransaction.period == undefined ? 'missing' : ''}}">{{ pTransaction.period == undefined ? "(no period)" : pTransaction.period }}</div>
      <div class="budget {{pTransaction.budget == undefined ? 'missing' : ''}}">{{ pTransaction.budget == undefined ? "(no budget)" : pTransaction.budget.name }}</div>
      <div class="categories {{pTransaction.categories == undefined ? 'missing' : ''}}">{{ categoriesText }}</div>
    </div>

    <ng-template #forminfo>
      <form [formGroup]="formGroup" class="form extended_info">
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input id="date" matInput formControlName="date" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field id="period">
          <mat-label>Period</mat-label>
          <mat-select formControlName="period">
            <mat-option *ngFor="let period of periods" [(value)]="period.id">{{period.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field id="store">
          <mat-label>Store</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 formControlName="store"
                 [matAutocomplete]="auto"
                 (keyup.enter)="addStore()"
                 >
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayStore">
            <mat-option *ngFor="let store of pStoresFiltered$ | async" [value]="store">
              {{store.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Budget</mat-label>
          <mat-select formControlName="budget">
            <mat-option *ngFor="let budget of pBudgets$ | async" [(value)]="budget.id">{{budget.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Categories</mat-label>
          <mat-select multiple formControlName="categories">
            <mat-option *ngFor="let category of pCategories$ | async" [(value)]="category.id" style="padding-left: {{ category.level * 10 }}px">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" type="button" [disabled]="!formGroup.valid" (click)="onSubmit(formGroup.value)">Update</button>
        <button mat-raised-button type="button" class="btn" (click)="switchEditionMode(false)">Cancel</button>
        <div class="error" *ngIf="errorMessage!=null">{{errorMessage}}</div>
      </form>
    </ng-template>

    <div class="clearfix"></div>

    <div class="basic">
      <div class="source">{{ pTransaction.bank.name }}</div>
      <div class="accounting_date">{{ pTransaction.accountingDate| date: "yyyy/MM/dd" }}</div>
      <div class="description">{{ pTransaction.description }}</div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
