<div id="{{pTransaction.id}}" class="transaction">
  <div class="amount {{ pTransaction.amount > 0 ? 'credit' : 'debit' }}">{{ pTransaction.amount | number : '1.2-2' }} €</div>

  <div class="info">
    <div class="extended_info" *ngIf="mode==='DISPLAY'; else forminfo" novalidate (click)="switchMode('EDIT')">
      <div class="store {{pTransaction.store == null ? 'missing' : ''}}">{{ pTransaction.store == null ? "(no store)" : pTransaction.store.name }}</div>
      <div class="date {{pTransaction.date == null ? 'missing' : ''}}">{{ pTransaction.date == null ? "(no date)" : pTransaction.date| date: "yyyy/MM/dd" }}</div>
      <div class="period {{pTransaction.period == null ? 'missing' : ''}}">{{ pTransaction.period == null ? "(no period)" : pTransaction.period }}</div>
      <div class="budget {{pTransaction.budget == null ? 'missing' : ''}}">{{ pTransaction.budget == null ? "(no budget)" : pTransaction.budget.name }}</div>
      <div class="categories {{pTransaction.categories == null ? 'missing' : ''}}">{{ categoriesText }}</div>
      <button *ngIf="pTransaction.splitOfId === null || pTransaction.id.endsWith('-REM')" mat-raised-button color="primary" id="update" type="button" (click)="onSplit()">Split</button>
    </div>

    <ng-template #forminfo>
      <form [formGroup]="formGroup" class="form extended_info">
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input id="date" matInput formControlName="date" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field id="period">
          <mat-label>Period</mat-label>
          <mat-select formControlName="period">
            <mat-option *ngFor="let period of periods" [(value)]="period.id">{{period.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field id="store">
          <mat-label>Store</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 formControlName="store"
                 [matAutocomplete]="auto"
                 (keyup.enter)="addStore()"
                 >
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayStore">
            <mat-option *ngFor="let store of pStoresFiltered$ | async" [value]="store">
              {{store.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Budget</mat-label>
          <mat-select formControlName="budget">
            <mat-option *ngFor="let budget of pBudgets$ | async" [(value)]="budget.id">{{budget.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Categories</mat-label>
          <mat-select multiple formControlName="categories">
            <mat-option *ngFor="let category of pCategories$ | async" [(value)]="category.id" style="padding-left: {{ category.level * 10 }}px">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <section *ngIf="pTransaction.splitOfId === null">
          <!-- Add mapping is available for main transaction -->
          <mat-checkbox (change)="enableMapping($event)">Add mapping</mat-checkbox>

          <mat-form-field>
            <mat-label>Fix date</mat-label>
            <mat-select formControlName="fixDate">
              <mat-option *ngFor="let fix of fixDates" [(value)]="fix.id">{{fix.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Pattern</mat-label>
            <input matInput formControlName="pattern" class="pattern" placeholder="Pattern (required to add mapping)">
          </mat-form-field>
        </section>

        <ng-template [ngIf]="pTransaction.splitOfId && !pTransaction.id.endsWith('-REM')">
          <!-- Amount may be updated in case of subtransaction (except for the remaining subtransaction which is automatically computed from other subtransactions) -->
          <mat-form-field>
            <mat-label>Amount</mat-label>
            <input type="text" aria-label="Amount" matInput formControlName="amount">
          </mat-form-field>
        </ng-template>

        <button mat-raised-button color="primary" id="update" type="button" [disabled]="!formGroup.valid" (click)="onSubmit(formGroup.value)">{{submitButtonText}}</button>
        <button mat-raised-button type="button" class="btn" (click)="switchMode('DISPLAY')">Cancel</button>

        <div class="clearfix error" *ngIf="errorMessage!=null">{{errorMessage}}</div>
      </form>
    </ng-template>

    <div class="clearfix"></div>

    <div class="basic">
      <div class="source">{{ pTransaction.bank.name }}</div>
      <div class="accounting_date">{{ pTransaction.accountingDate| date: "yyyy/MM/dd" }}</div>
      <div class="description">{{ pTransaction.description }}</div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
